<div *ngIf="gameId" class="game-area mt-4">
    <form data-test="player-name-form"
          *ngIf="!game[gameId].players.includes(currentPlayerName) && game[gameId].players.length < 2">
        <label for="playerName">Enter your name: </label>
        <input id="playerName"
               type="text"
               [maxLength]="12"
               [value]="currentPlayerName"
               (keyup)="setPlayerName($event)"
               class="mb-2"
               placeholder="Enter your name...">
        <br>
        <button id="btn-join"
                type="button" (click)="joinGame()"
                data-test="btn-join-game"
                [disabled]="!currentPlayerName"
                class="mb-2 disabled:opacity-50">Join game
        </button>
    </form>

    <div *ngIf="game[gameId].players.length > 0"
         class="players bg-green-200 rounded-md p-1">
        <label class="pb-2">Players: ({{game[gameId].players.length}})</label>
        <ul>
            <li class="player rounded-md pl-2 mb-1"
                [ngClass]="{'bg-blue-200': game[gameId].turn === playerName,
                 'bg-gray-200-NOP': game[gameId].turn !== playerName}"
                *ngFor="let playerName of game[gameId].players; let idx = index"
                [attr.data-test]="'player-name-' + idx">
                <span *ngIf="idx === 0">O</span> <span *ngIf="idx === 1">X</span> {{playerName}}
                <span *ngIf="game[gameId].turn === playerName"> <-
               <ng-container *ngIf="currentPlayerName === playerName"> YOUR </ng-container>
                TURN
            </span>
            </li>
        </ul>
    </div>

    <div class="game-result mt-2">
        <div id="winner" *ngIf="game[gameId].winner">
            <img *ngIf="game[gameId].players.indexOf(game[gameId].winner) === 0" src="assets/nought.png">
            <img *ngIf="game[gameId].players.indexOf(game[gameId].winner) === 1" src="assets/cross.png">
            {{ game[gameId].winner }} wins!
        </div>
        <div id="draw" *ngIf="game[gameId].draw">
            <img src="assets/cross.png">
            <img src="assets/nought.png">
            It's a draw!
        </div>
    </div>

    <div id="game-board">
        <div *ngIf="currentPlayerName !== game[gameId].turn || game[gameId].players.length !== 2"
             class="game-board-overlay"></div>
        <div *ngFor="let row of game[gameId].state; let x = index" class="game-row">
            <div *ngFor="let col of row; let y = index"
                 [attr.data-test]="x + '-' + y"
                 class="tile hover:bg-blue-200"
                 style="cursor: pointer"
                 (click)="playGame(x, y)"
                 [ngClass]="
                         {
                         'tile-bg-nought': col === -1,
                         'tile-bg-cross': col === 1
                         }">
            </div>
        </div>
    </div>

    <div id="moves" class="bg-green-300 rounded-md pl-2">
        {{ game[gameId].moves }} moves
    </div>

    <div class="game-messages">
        <div *ngIf="game[gameId].players.length === 0">WAITING FOR PLAYERS TO JOIN</div>
        <div *ngIf="game[gameId].players.length === 1">WAITING FOR PLAYER TO JOIN</div>
        <div *ngIf="!game[gameId].players.includes(currentPlayerName) && game[gameId].players.length === 2">SPECTATING
            THE GAME
        </div>
    </div>
<!--        <pre id="debug">{{game | json}}</pre>-->
</div>
