<div class="flex flex-col flex-grow h-[600px]">
    <div class="text-center flex-auto">
        <button (click)='newGame()'
                class="btn mb-3"
                data-test="btn-new-game">New Game
        </button>

        <div data-test="game-history-list">
            <div class="NOPbg-gray-500 cursor-pointer hover:bg-gray-200 text-center rounded-md p-1 m-1"
                 [class.bg-green-300]='gameId === currentGameId'
                 [ngClass]="{'hover:bg-green-500': gameId === currentGameId}"
                 (click)='loadGame(gameId)'
                 *ngFor='let gameId of games$ | async'>{{ gameId }}
            </div>
        </div>

    </div>

    <div class="text-center">
        <button (click)='clearGames()'
                class="btn bg-green-300 mb-3"
                data-test="btn-reset-games">Reset all
        </button>
    </div>
</div>
